body {
  background: url(https://media4.giphy.com/media/Ky559q3OfL0EDBPR23/giphy.gif) no-repeat center center fixed;
  background-color: black;
  color: white;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 100;

}

.content {
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.header {
  text-align: center;
  font-size: 6vh;
  letter-spacing: 9px;
}

.enter {
  font-size: 3vh;
  letter-spacing: 6px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}