.Nominate {
  animation: fadeIn ease 3s;
}

.header {
  height: 10vh;
  text-transform: uppercase;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  letter-spacing: 9px;
  padding-left: 2vh;
  margin-bottom: 5vh;
  flex: 20% 80%;
}

.header img {
  height: 10vh;
  width: 10vh;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.searchResults {
  width: 70%;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 5vh;
  align-items: center;
  justify-items: center;
}

.nominations {
  position: fixed;
  bottom: 5vh;
  right: 3vh;
}

.nominations > span {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  padding: 1vh 2vh;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.nominations:hover > span {
  text-shadow: 0 0 10px  #fcba03, 0 0 10px  #fcba03, 0 0 10px  #fcba03, 0 0 20px  #fcba03, 0 0 20px  #fcba03, 0 0 20px  #fcba03, 0 0 20px  #fcba03;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}